*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 600px;
    margin: 10px auto;
    cursor: pointer;
}

.container1, .container3 {
    width: 100%;
    height: 40%;
    display: flex;
}

.container2 {
    width: 100%;
    height: 20%;
    display: flex;
}

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.row1-col2,
.row3-col2 {
    width: 20%;
    height: 100%;
}

.row2-col1, .row2-col3 {
    width: 40%;
    height: 100%;
}

.row2-col2 {
    width: 40%;
    height: 100%;
}

/* color */

.green {
    background-color: #82c21f;
}

.red {
    background-color: #dc2418;
}

.blue {
    background-color: #0092dc;
}

.yellow {
    background-color: #f6c700;
}

.white {
    background-color: #fff;
}
