# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\desenvolvimento\js\ludo-html-css-layout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
